body {
    background-color: #007AFF !important;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007AFF !important;
    min-height: 100vh;
}

.quiz-card {
    width: 30rem;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    align-items: center;
    padding-top: 10px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgb(245, 242, 242);

}

.bg-success, .bg-danger {
    color: white;
}

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}

.text-center {
    text-align: center;
}
